{
  "$schema": "https://swc.rs/schema.json",
  "minify": true,
  "jsc": {
    "baseUrl": "./",
    "target": "esnext",
    "paths": {
      "@/*": ["./src/*"]
    },
    "parser": {
      "syntax": "typescript",
      "tsx": true
    },
    "transform": {
      "react": {
        "runtime": "automatic"
      }
    }
  },
  "module": {
    "type": "nodenext",
    "strict": true
  }
}
